.app {
  height: 100vh;
  background-color: var(--background);
  color: var(--primary-text);
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.app-title {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.app-converter-controls {
  height: 3.125rem;
}

.app-font-size-setter {
  height: 3.125rem;
}

.app-conversion-tables {
  flex: 2;
}
