.converter-controls {
  display: flex;
  flex-direction: row;
}

.converter-controls label {
  text-align: center;
}

.converter-controls-numeric {
  position: relative;
  margin: 0;
  margin-top: 0.238rem;
  border: 0.06rem solid var(--numeric-border);
  width: 20.833rem;
  height: 3.675rem;
}

.converter-controls-input {
  background: none;
  box-sizing: border-box;
  display: block;
  padding: 0.25rem 1.25rem;
  font-size: 2.4rem;
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
  caret-color: var(--caret-color);
  color: var(--primary-text);
}

.converter-controls-input:focus {
  outline: none;
}

.converter-controls-toggle {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.converter-controls-toggle button {
  background-color: var(--background);
  color: var(--primary-text);
  height: 4rem;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 895px) {
  .converter-controls {
    flex-direction: column;
  }
}
