.converter-controls {
  display: flex;
  flex-direction: row;
}

.converter-controls label {
  text-align: center;
}

.cc-numeric {
  position: relative;
  margin: 0;
  margin-top: 0.238rem;
  border: 0.06rem solid var(--numeric-border);
  width: 20.833rem;
  height: 3.675rem;
}

.cc-toggle {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.cc-toggle button {
  background-color: var(--background);
  color: var(--primary-text);
  height: 4rem;
  border: none;
  cursor: pointer;
}

.cc-input-group {
  position: relative;
}

.cc-toggle-button {
  flex: 1;
}

@media screen and (max-width: 895px) {
  .converter-controls {
    flex-direction: column;
  }
}
