.converter-controls {
  display: flex;
  flex-direction: row;
}

.converter-controls-numeric {
  position: relative;
  margin: 0;
  margin-top: 0.238rem;
  border: 0.06rem solid var(--numeric-border);
  width: 20.833rem;
  height: 3.675rem;
}

.converter-controls-input {
  background: none;
  box-sizing: border-box;
  display: block;
  padding: 0.25rem 1.25rem;
  font-size: 2.4rem;
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

.converter-controls-input:focus {
  outline: none;
}
