.slider-switch {
  position: relative;
  display: inline-block;
  width: 7rem;
  height: 2.125rem;
  color: red;
}

.slider-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* left selected */
  background-color: var(--slider-background);
  transition: 0.4s;
}

.slider-slider:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 3rem;
  left: 0.25rem;
  bottom: 0.25rem;
  /* dot */
  background-color: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* input:checked + .slider-slider {
  right selected
  background-color: var(--slider-background);
} */

/* .slider-slider:checked:before {
  content: "Light";
}

.slider-slider:not(:checked)::before {
  content: "Dark";
} */

input:focus + .slider-slider {
  box-shadow: 0 0 0.063rem var(--secondary);
}

input:checked + .slider-slider:before {
  transform: translateX(1.625rem);
}

/* Rounded sliders */
.slider-slider.slider-round {
  border-radius: 2.125rem;
}

.slider-slider.slider-round:before {
  content: "Test4"; /* attr(data-off); */
  border-radius: 1rem;
  position: absolute;
  left: 0;
  top: 0.125rem;
}

.slider-slider.slider-round:after {
  content: "Test2"; /* attr(data-on); */
  border-radius: 1rem;
  position: absolute;
  top: 0.438rem;
  right: 0;
}

.slider-switch
  input[type="checkbox"]:checked
  + .slider-slider.slider-round::after {
  content: "Test"; /* attr(data-off); */
  position: absolute;
  top: 0.125rem;
  left: 0;
}

.slider-switch
  input[type="checkbox"]:checked
  + .slider-slider.slider-round::before {
  content: "Test3"; /* attr(data-on); */
  left: 2rem;
}
